@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: .3px;
  color: #282c3f;
}
body{
  background: rgb(246, 244, 243);
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
h2{
   font-family:'Bentham', 'Montserrat', 'Poppins', Arial, sans-serif;
  font-size: 2rem;
  font-weight: 550;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  color: #222;
  text-transform: none;
  background: none;
  padding-bottom: 0;
  border-bottom: none;
  display: block;
}

h6{
  font-style: italic;
  text-align: center;
  font-size: 1.18rem;
  color: #632833;
  font-weight: 500;
  letter-spacing: 1px;
}
section,footer {
  scroll-margin-top: 120px; /* adjust to your navbar height */
}

@media(max-width:900px){
  h2{
  font-size: 1.9rem;
  margin-bottom: 25px;
}
h6{
  font-size: 1.05rem;
}
}

